body{
    margin: 0;
    padding: 0;
}
#head{
    background-image: url("../img/bg-main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 700px;
}
#head .main {
    width: 90%;
    margin: 0 auto;
    height: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
}
#head .topbar{
    display: flex;
    justify-content: space-between;
}
#head .topbar .navm{
    align-self: center;
}
#head .topbar .navm ul{
    display: flex;
    list-style: none;
}
#head .topbar .navm ul li{
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.779);
    padding: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.786);
    border-radius: 10px;
}
#head .topbar .navm ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#head section{
    text-align: center;
}
#head section h1{
    color: white;
    font-weight: bolder;
    font-size: 30px;
    font-style: italic;
    font-family: "Times New Roman";
}
#head section h1 span{
    color: rgb(255, 255, 255);
    font-style: normal;
    font-family: sans-serif;
    font-weight: bold;
    margin: 30px 0;
    font-size: 60px;
}
#head section button{
    padding: 10px 20px;
    margin-top: -15px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.52);
    color: white;
    border: solid 3px;
}
#head section p{
    color: white;
    font-size: 20px;
}
#head section p a{
    color: white;
}
/*FFC*/
section{
    display: block;
    margin: 20px 50px;
}
.div1 {
    display: flex;
    text-align: center;
}
.div1 .spc{                 
    margin: 20px 10px;
    width: 30.3333%;
}
@media only screen and (max-width: 600px) {
    .div1 .spc {
      width: 300px;
    }
}
.div1 .image img{
    padding: 20px;
    
}
@media only screen and (max-width: 950px) {
    .div1 .image img {
      padding: 5px;
    }
}
.div1 .spc h4{
    margin : 5px 0 0 0;
    border-bottom: 2px solid red;
    display: inline-block;
    padding-bottom: 5px;
}
@media only screen and (max-width: 560px) {
    .div1 .spc h4 {
      font-size: 15px;
    }
    .div1 .spc p{
        font-size: 10px;
    }
}
/*Qut*/
.qtsec{
    margin: 10px 0;
    background-image: url(../img/cooking.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
section .qut{
    display: flex;
    justify-content: center;
    background-color: rgb(255 0 5 / 43%);
    align-items: center;
    text-align: center;
    height: 300px;
}
/*gallery*/
.gal .bchead{
    display: flex;
    justify-content: center;
}
.gal .bchead h2{
    border-bottom: 2px solid red;
}
div.gallery{
    border: 1px solid #aaa7a7;
}
div.gallery:hover {
    border: 1px solid #e30707;
}
div.gallery img {
    width: 100%;
    height: 200PX;
}
div.desc {
    font-weight: bold;
    font-size: 25px;
    padding: 5px;
    text-align: center;
}
* {
    box-sizing: border-box;
}
.responsive {
    float: left;
    width: 25%;
}  
@media only screen and (max-width: 730px) {
    .responsive {
      width: 50%;
      margin: 0;
    }
}  
@media only screen and (max-width: 450px) {
    .responsive {
      width: 100%;
    }
}  
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/*data*/
.datas{
    width: 100%;
}
.datas .datad{
    float: left;
    text-align: center;
    width: 20%;
    margin: 25px 0;
}
.datas .datad h3{
    margin: 2px;
    font-size: 25px;
}
.datas .datad p{
    margin: 3px;
}
@media only screen and (max-width: 550px) {
    .datas .datad {
        float: none;
        text-align: center;
        width: 100%;
    }  
}
/*foot*/
footer{
    margin: 0 40px;
    font-weight: bold;
    font-size: 15px;
}
.foot{
    text-align: center;
}
